/AnotherTypeOfEmployee/nbproject/private/
/AnotherTypeOfEmployee/src/TypeEmployee/build/
/AnotherTypeOfEmployee/src/TypeEmployee/nbproject/private/
/TypeEmployee/build/
/TypeEmployee/nbproject/private/