/AnotherTypeOfEmployee/nbproject/private/
/AnotherTypeOfEmployee/src/TypeEmployee/build/
/AnotherTypeOfEmployee/src/TypeEmployee/nbproject/private/
/TypeEmployee/build/
/TypeEmployee/nbproject/private/
/PaintingShapes/nbproject/private/
/PaintingShapes/build/
/SearchSortingAlgorithms/nbproject/private/
/SpeedControl/nbproject/private/
/SearchSortingIntegerList/nbproject/private/
/SearchSortingIntegerList/build/
/MoveCircle/nbproject/private/
/MoveCircle/build/
/SearchingSortingIntegerList/nbproject/private/
/SearchingSortingIntegerList/build/
/WEEK 2/ExceptionsArentAlwaysErrors/nbproject/private/
/WEEK 2/ExceptionsArentAlwaysErrors/build/
/WEEK 2/PlacingExceptionHandlers/nbproject/private/
/WEEK 2/PlacingExceptionHandlers/build/
/WEEK 2/ThrowingExceptions/nbproject/private/
/WEEK 2/ThrowingExceptions/build/
/WEEK 2/CopyingAFile/nbproject/private/
/WEEK 2/CopyingAFile/build/
/WEEK 2/ReadingFromAndWritingToTextFiles/nbproject/private/
/WEEK 2/ReadingFromAndWritingToTextFiles/build/
/WEEK 2/AMovableCircle/nbproject/private/
/WEEK 2/AMovableCircle/build/